In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("bow.csv")

In [4]:
print(df.iloc[:, -1].unique())

['INFJ' 'ENTP' 'INTP' 'INTJ' 'ENTJ' 'ENFJ' 'INFP' 'ENFP' 'ISFP' 'ISTP'
 'ISFJ' 'ISTJ' 'ESTP' 'ESFP' 'ESTJ' 'ESFJ']

In [8]:
y = {
    "Analysts": ["INTJ", 'INTP', 'ENTJ', 'ENTP'],
    "Diplomats": ["INFJ", "INFP", "ENFJ", "ENFP"],
    "Sentinels": ["ISTJ", "ISFJ", "ESTJ", "ESFJ"],
    "Explorers": ["ISTP", "ISFP", "ESTP", "ESFP"]
}

In [10]:
print(y.values())

dict_values([['INTJ', 'INTP', 'ENTJ', 'ENTP'], ['INFJ', 'INFP', 'ENFJ', 'ENFP'], ['ISTJ', 'ISFJ', 'ESTJ', 'ESFJ'], ['ISTP', 'ISFP', 'ESTP', 'ESFP']])

In [13]:
new_y = []
for i in df.iloc[:, -1]:
    for v in y.items():
        if i in v[1]:
            new_y.append(v[0])

In [15]:
df.iloc[:, -1] = new_y
df.head()

,abandon,abandoned,abilities,ability,able,abnormal,abortion,abouti,abrasive,abroad,...,yummy,yup,zelda,zen,zero,zodiac,zombie,zombies,zone,y
0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Diplomats
1,0.0,0.093925,0.0,0.000000,0.036422,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Analysts
2,0.0,0.000000,0.0,0.054544,0.037744,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Analysts
3,0.0,0.000000,0.0,0.000000,0.036635,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Analysts
4,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Analysts

In [17]:
df.to_csv("bow.csv", index = False)